@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Raleway&display=swap');


body {
    background-color: white;
}


.imgitems {
    float: left;
    width: 500px;
    background-color: #E6E6E6;
    border-radius: 15px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.padd {
    padding-left: 50px;
    padding-top: 150px;
    
}

.maj {
    font-family: 'Oswald', sans-serif;
    color: black;
}

.min {
    font-family: 'Raleway', sans-serif;
    color: black;
}

* {box-sizing: border-box;}

.img-zoom-container {
  position: relative;
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 80px;
  height: 80px;
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 800px;
  height: 720px;
}